.cat-display {
  display: flex;
  flex-direction: column;

  &__form {
    margin-bottom: 34px;
  }

  &__label {
    display: block;
    margin-left: 4px;
    margin-bottom: 14px;
    font-size: 15px;
    letter-spacing: -0.3px;
    cursor: pointer;
    user-select: none;
  }

  &__checkbox {
    width: 10px;
    height: 10px;
    margin-right: 3px;
  }
}
